/lib
/classes
/.lein-failures
/temp
/nohup.out
/.dir-locals.el
/target

#Exclude IDEA generated fields:
/.idea
*.iml

#Exclude pom file generated with 'lein pom' (practical for importing project into idea)
/pom.xml
